body {
    zoom: 2;
    background-color: rgb(177, 204, 227);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

div {
    background-color: rgba(0, 0, 0, 0.197);
    padding: 10px 20px;
}

input {
    width: 50px;
    padding: 5px;
    border: none;
    text-align: center;
    background-color: rgb(31, 110, 179);

}

input:focus {
    outline: none;
}